/* HOME */


.home-container {
    text-align: center;
    margin-top: 50px;
}

.links-container {
    margin-top: 20px;
}

.link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.link:hover {
    background-color: #0056b3;
}


/* LOGIN FORM */


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}


.login-form {
    background: white;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


.login-form h1,
.register-form h1 {
    background-color: #0064ff;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form img,
.register-form img {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;

}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0064ff;
    font-size: 18px;
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #0064ff;
    outline: none;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button,
.register-button {
    background-color: #0064ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease;
}

.login-button:hover,
.register-button:hover {
    background-color: #0064ff;
    letter-spacing: 3px;
    background-color: hsl(221, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: #0032ff 0px 7px 29px 0px;
}

.register-link,
.login-link {
    color: #0064ff;
    margin-top: 10px;
    text-decoration: none;
}

.register-link:hover,
.login-link:hover {
    text-decoration: underline;
}

/* REGISTER-FORM */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}

h1 {
    color: #6a1b9a;
    margin-bottom: 20px;
}

.register-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0064ff;
    font-size: 18px;
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #0064ff;
    outline: none;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 15px;
}

@media (max-width: 430px) {

    .login-form,
    .register-form {
        width: 90%;
    }
}

.container-button-logout {
    display: flex;
    gap: 10px;
}

.container-button-logout i {
    font-size: 20px;
    display: flex;
}

/* PRODUCTS-PAGE */
.container-link-createProduct {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    gap: 20px;
}

.container-link-createProduct .link-createProduct {
    background-color: #0064ff;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
}

.container-link-createProduct .link-createProduct:hover {
    background-color: #0032ff;
    transform: scale(1.05);
}

.container-actions {
    display: flex;
    gap: 10px;
}

/* CREATEPRODUCT PAGE */


.button-createProduct {
    background-color: #2E8B57;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.button-createProduct:hover {
    background-color: #3CB371;
    transform: scale(1.05);
}

.container-button-createProduct {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.button-back {
    background-color: rgb(1, 111, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    text-decoration: none;
}

.button-back:hover {
    background-color: rgb(42, 131, 248);
    transform: scale(1.05);
}

.form-control {
    border-color: #0064ff;
    outline: none;
}